fastapi[all]
uvicorn
pydantic
typing
typing-extensions==4.1.1
python-multipart
coremltools==5.2.0
pycocotools==2.0.0
python-dotenv==0.20.0
seaborn==0.11.2
starlette==0.19.1
thop==0.1.1.post2209072238
wandb==0.13.3
